html{
	scroll-behavior: smooth;
}
body{
	padding: 0px;
	margin: 0px;
}
.header {
	width: 100%;
	text-align: center;
	font-family: sans-serif;
}
.header__content {

}
.header__logo {
	vertical-align: middle;
	background-color: #ECB0E1 ;
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-right: 10%;
}
.header__buttons {
	padding: 0px;
	display: inline-block;
	vertical-align: middle;
}
.header__buttons li {
	display: inline-block;
	font-size: 18px;
	margin: 0px 5px;
}
.header__buttons a {
	color: black;
	text-decoration-line: none;
}
.title {
	font-family: sans-serif;
	margin: 15px 0px;
	background-color: #85C7F2 ;
	height: 75vh;
	display: flex;
	justify-content:center;
	align-items:center;
}
.title__content{
	width: 75%;
	height: auto;
}
.title__text {
	position: relative;
	margin: 0px;
}
.first{
	font-weight: inherit;
	font-size: 40px;
}
.second {
	font-size: 90px;
	text-transform: uppercase;
	max-width: 600px;
	font-weight: 500;
}
.third{
	font-weight: inherit;
	font-size: 35px;
	opacity: 0.7;
}
.content {
	margin: 10% 0px;
	text-align: center;
}
.contnet__title {
	font-family: sans-serif;
	position: relative;
	font-size: 30px;
	font-weight: inherit;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.underline{
	display: inline-block;
	text-shadow: none;
}
.underline::after{
	content: '';
	position: absolute;
	height: 2px;
	width: 30%;
	background-color: #0660bd;
	left: calc(50% - 15%);
	bottom: 0;
}
.content__block {
	margin: 5px 5px;
	width: 300px;
	height: 300px;
	box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.3);
	display: inline-block;
}
.content__header {
	display: flex;
	height: 50%;
	width: 100%;
	align-items:center;
	justify-content:center;
	background-color: #ECB0E1;
	color: white;
}
.content__bottom {
	padding: 0px 20px;
	width: calc(100% - 40px);
	height: 50%;
}
.gallery-block {
	background-color: #FFDDA1;
	padding: 40px 0px;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.gallery {
    background-color: #FFDDA1;
    padding: 20px 0px;
    text-align: center;
    display: flex;
    justify-content:center;
}
.gallery__content {
	width: 900px;
	height: 400px;
}
.gallery__row{
	height: 200px;
	width: 100%;
	display: flex;
}
.gallery__image {
	margin: 0px;
	width: 300px;
	height: 200px;
	background-color: #ECB0E1;
	display: inline-block;
}
.video-block {
	text-align: center;
	margin: 100px 0px;

}
.video__content{
	width: 400px;
	margin: 0px 2px;
	display: inline-block;
}
.video {
	width: 400px;
	height: 200px;
}
.video__title{
	text-align: center;
}
.blank {
	padding: 20px 0px;
	margin: 20px 0px;
	background-color: #85C7F2;
	text-align: center;
}
.blanck__content {
	margin: 0px auto;
}
.blank__title {
	color: white;
	font-family: sans-serif;
	font-weight: bold;
}
.input-field {
	margin: 5px 0px;
}
.input-field__input {
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	border-color: #2D2A32;
	padding: 10px 5px;
	display: inline;
	resize: none;
	width: 20%;
}
.send-btn {
	border: none;
	background-color: #F26419;
	padding: 10px 20px;
	border-radius: 50px;
	color: white;
}
.contacts {
}
.contacts__block {
	display: inline-block;
	width: 100%;
	margin: 0px;
}
.contacts__contact {
	display: block;
}
.contacts__map {
	justify-self: right;

}