html{
	scroll-behavior: smooth;
}
body{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	
}
.header {
	padding: 10px 0px;
	display: flex;
    align-items: center;
    background-color: white;
    z-index: 3;
    justify-content: left;
	width: 100%;
	height: 120px;
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;
}
.header__content {
	width: 80%;
	margin-left: 3%;
	display: flex;
	align-items: center;
}
.header__logo {
	vertical-align: middle;
	width: 70px;
	height: 70px;
	display: inline-block;
	margin-right: 10%;
}
.header__logo img{
	border-radius: 90%;
	width: 100%;
	height: 100%;
}
.header__buttons {
	position: absolute;
	left: 0px;
	width: 100%;
	background-color: white;
	display: none;
	text-align: center;
	margin: 0px;
	padding: 20px 5px;
}
.header__buttons li {
	width: 100%;
	display: block;
	font-size: 25px;
	margin: 20px 0px;
}
.header__buttons a {
	color: black;
	text-decoration-line: none;
}
.header__lang-switcher {
	width: 10%;
	height: 20%;
	cursor: default;
	position: relative;
	display: flex;
	justify-content: right;
	align-items: center;
	text-decoration: none;
}
.header__lang-switcher img{
	width: 40px;
	height: 25px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.header__lang-switcher p{
  	text-transform: uppercase;
  	font-size: 15px;
   	margin: 0px 5px;
   	color: #888;
   	font-weight: 600;
}
.header__lang-switcher:hover{
	cursor: pointer;
}

.header__burger{
	width: 10%;
	justify-content: right;
	margin-right: 3%;
	font-size: 20px;
	display: flex;
}
.header__burger a{
	display: flex;
	align-items: center;
}
.active{
	display: block;
	position: absolute;
	top: 120px;
}
.title {
	margin: 15px 0px;
	background-color: #85C7F2 ;
	height: 75vh;
	display: flex;
	justify-content: left;
	padding-left: 3%;
	align-items:center;
	background: url('./Заглушки/header.webp') center / cover no-repeat;
	color: white;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.title__content{
	width: 75%;
	height: auto;
}
.title__text {
	position: relative;
	margin: 0px;
}
.first{
	font-weight: inherit;
	font-size: 30px;
}
.second {
	font-size: 60px;
	text-transform: uppercase;
	max-width: 600px;
	font-weight: 500;
}
.third{
	font-weight: inherit;
	font-size: 24px;
	opacity: 0.7;
}
.content {
	margin: 7% 0px;
	text-align: center;
}
.contnet__title {
	position: relative;
	font-size: 30px;
	font-weight: inherit;
	text-transform: uppercase;

}
.underline{
	display: inline-block;
	text-shadow: none;
}
.underline::after{
	content: '';
	position: absolute;
	height: 2px;
	width: 30%;
	background-color: #0660bd;
	left: calc(50% - 15%);
	bottom: 0;
}
.content__blocks {
	margin-top: 40px;
}
.content__block {
	height: 400px;
	box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.3);
	display: block;
	width: 90%;
	margin: 20px auto;
}
.content__block p{
	font-size: 16px;
}
.text{
	font-size: 14px;
	color: #888;
}
.content__header {
	background: url('./Заглушки/content__block.webp') center / cover no-repeat;
	display: flex;
	height: 50%;
	width: 100%;
	align-items:center;
	justify-content:center;
	background-color: #ECB0E1;
	color: white;
}
.content__bottom {
	padding: 0px 20px;
	width: calc(100% - 40px);
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery-block {
	background-color: #FFDDA1;
	padding: 40px 0px;
}
.text-block {
	
	max-width: 900px;
	margin: 200px auto;
	text-align: center;
	
}
.text-block__text-conainer{
	border-width: 0px 2px 0px 2px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.4);
	padding: 0px 15px;
}
.text-block__text-conainer p{
	line-height: 1.3;
}
.text-block h2{
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.backstages {
	background-color: #F5F8FB;
	position: relative;
	align-items: center;
	justify-content: center;
	display: block;
	padding: 40px 20px;
	padding-bottom: 10px;
	height: auto;
}

.backstages__content {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	justify-content: center;
}
.backstages__slider {
	display: inline-block;
	overflow: hidden;
	position: relative;
	width: 345px;
	height: 225px;
	margin: 0px auto;
}
.backstages__slider:hover .backstages__button{
	opacity: 1;
}
.backstages__button {
	height: 100%;
	width: 10%;
	z-index: 1;
	position: absolute;
	border: none;
	background-color: rgba(255, 255, 255, 0.6);
	opacity: 0;
}
.backstages__button img{
	margin: auto;
	display: inline-block;
	width: 12px;
	height: 12px;
}
.backstages__slider-line {
	height: 100%;
	width: 500%;
	display: flex;
	position: relative;
	transition: all ease 1s;
}
.backstages__image {
	background-color: #85C7F2;
	width: 100%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.backstages__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.backstages__info {
	height: 100%;
	font-size: 16px;
	line-height: 1.3;

	display: block;
	width: 100%;
	padding: 0px;
	margin: 20px 0px;
	text-align: center;
}
.backstages__title {
	margin: 0px;
	margin-top: 10px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 18px;
}
.gallery {
	height: 60%;
	width: 100%;
}
.gallery__row {
	display: flex;
}
.gallery__image {
	width: 20%;
	padding: 0px 0px 19.8% 0px;
	overflow: hidden;
	position: relative;
	display: flex;
}
.gallery__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	filter: brightness(85%);
}
.gallery__image:hover > img{
	filter: brightness(100%);
}
.gallery__image:hover > .gallery__image-text{
	visibility: hidden;
}
.gallery__image-text {
	position: absolute;
	z-index: 2;
	color: white;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	top: 40%;
	margin: 0px;
	width: 100%;
	text-align: center;

}
.gallery-hiden__container {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.4);
}
.flexed-gallery-hiden-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.centred-gallery-hiden-container {
	width: auto;
	height: auto;
}
.close-icon {
	display: flex;
	justify-content: right;
}
.close-icon img {
	width: 20px;
	height: 20px;
}
.gallery-hiden {
	display: flex;
    margin: 10px auto;
    position: relative;
    width: 300px;
    padding-top: 200px;
    left: 0px;
    top: 20px;
    justify-content: center;
    z-index: 10;
    max-width: 100%;
}
.gallery-hiden__item {

}
.gallery-hiden__selector {
	position: absolute;
    visibility: hidden;
}
.gallery-hiden__img {
	width: 300px;
	height: 200px;
	position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #85C7F2;
    margin: 0px auto;
}
.gallery-hiden__selector:checked + .gallery-hiden__img{
	opacity: 1;
}
.gallery-hiden__selector:checked ~ .gallery-hiden__thumb{
	box-shadow: 0 0 0 3px #0be2f6;
}
.gallery-hiden__thumb {
	padding-top: 6px;
    margin: 6px;
    display: block;
    width: 60px;
	height: 40px;
	background-color: #ECB0E1;
}
.about {
	margin: 200px 0px;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about__content {
	height: 100%;
	width: 100%;
	display: block;
}
.about__text-block {
	box-sizing: border-box;
	width: 100%;
	display: block;
	padding: 0px 3%;
}
.about__image {
	text-align: right;
	width: 100%;
	display: block;
}
.about__image img{
	border-radius: 100%;
	width: 350px;
	height: 350px;
	margin: 0px auto;
}
.about__title {
	font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
}
.contact-form {
	width: 100%;
	padding: 40px 0px;
	background-color: #e2ebf4;
	display: block;
	justify-content: center;
}
.blank {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;

}
.blank form{
	width: 100%;

}
.blank__title {
	text-align: center;
	margin: 0px;
	font-size: 20px;
}
.input-fields {
	margin: 0px auto;
	width: 70%;
}
.input-field {
	margin: 5px 0px;
	width: 100%;
}
.input-field__input {
	font-size: 17px;
	box-sizing: border-box;
	text-align: left;
	border-style: solid;
	border-radius: 0px;
	border: none;
	padding: 15px 10px;
	display: inline;
	resize: none;
	width: 100%;
}
.half-inputs-container{
	display: flex;
}
.half {
	width: 47%;
	display: inline-block;
}
.left {
	margin-right: 3%;
}
.right {
	margin-left: 3%;
}
.send-btn {
	font-size: 17px;
	background: none;
	padding: 15px 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: rgba(0, 0, 0, 0.1);
}
.send-btn:hover {
	color: #0671c6;
}
.contacts {
	text-align: center;
	margin: 25px 0px;
	width: 100%;
	display: block;
}
.contacts img{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	opacity: 50%;
}
.contacts a {
	display: inline-block;
	text-decoration: none;
	color: black;
	margin: 0px 1%;
	color: #888;
}
.contacts a:visited {
	color: #888;
}
.contacts a:hover{
	text-decoration-line: underline;
}
.third-block {
	display: none;
}
@media (min-width: 700px){
	.header__logo {
		width: 100px;
		height: 100px;
	}
	.backstages__slider{
		width: 575px;
		height: 375px;
	}
	.text{
		font-size: 18px;
	}
	.backstages{
	}
	.gallery-hiden{
		width: 600px;
		padding-top: 400px;
	}
	.gallery-hiden__thumb{
		width: 138px;
		height: 92px;
	}
	.gallery-hiden__img{
		width: 600px;
		height: 400px;
	}

}
@media (min-width: 860px){
	.backstages__slider{
		width: 700px;
		height: 450px;
	}
	.text{
		font-size: 18px;
	}
	.backstages{
	}
	.content__block{/*v*/
		display: inline-block;
		width: 400px;
		margin: 5px 10px;
	}
	.gallery-hiden {
		width: 720px;
		padding-top: 480px;
	}
	.gallery-hiden__img {
		width: 720px;
		height: 480px;
	}
	.gallery-hiden__thumb{
		width: 171px;
		height: 114px;
	}

}

@media (min-width: 1100px){
	.header__buttons{
		padding: 0px;
		vertical-align: middle;
		display: inline-block;/*v*/
		position: relative;
		width: 75%;
		background: none;
		text-align: left;
	}
	.header__buttons li{
		display: inline-block;
		font-size: 18px;
		margin: 0px 5px;
		width: auto;
		font-size: 20px;
		margin: 0px 5px;
	}
	.header{
		position: relative;
	}
	.header__content{/*v*/
		width: 745px;
    	margin-left: 12.5%;
	}
	.header__lang-switcher{
		width: 76px;
	}
	.header__burger{
		display: none;/*v*/
	}
	.first{/*v*/
		font-size: 40px;
	}
	.second{/*v*/
		font-size: 90px;
	}
	.third{/*v*/
		font-size: 35px;
	}
	.title{/*v*/
		justify-content: center;
		padding: 0px;
	}
	
	.text{/*v*/
		font-size: 16px;
	}
	.text-block__text-conainer{/*v*/
		padding: 0px 40px;
	}
	.backstages{/*v*/
		display: flex;
		height: 500px;
		padding: 40px 15px;
		padding-bottom: 10px;
	}
	.backstages__slider{/*v*/
		
		margin: 0px;
	}
	.backstages__content{/*v*/
		width: 690px;
		height: 100%;
		justify-content: left;
	}
	.backstages__info{/*v*/
		width: 500px;
		display: inline-block;
		padding: 40px 0px;
		margin: 0px;
		margin-left: 60px;
		text-align: left;
	}
	.backstages__title{/*v*/
		font-size: 36px;
	}
	.gallery-hiden {
		width: 900px;
		padding-top: 600px;
	}
	.gallery-hiden__img {
		width: 900px;
		height: 600px;
	}
	.gallery-hiden__thumb{
		width: 210px;
		height: 140px;
	}
	.about__content{/*v*/
		width: 70%;
		display: flex;
	}
	.about__image{/*v*/
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.about__text-block{/*v*/
		width: 50%;
		display: inline-block;
	}
	.about__text-block p{
		max-width: 430px;
	}
	.about__image img{
		width: 400px;
		height: 400px;
		margin: 0px;
	}
	.blank{
		width: 33%;
	}
	.contact-form{
		display: flex;
	}
	.contacts{
		width: 33%;
		display: flex;
		justify-content: center;
		margin: 0px;
	}
	.contacts__container {}
	.contacts a{
		text-align: left;
		display: flex;
		width: 100%;
		margin: 10px 0px;
		font-size: 25px;
		align-items: center;
	}
	.contacts a img{
		margin-right: 5px;
	}
	.contacts h2{
		text-align: left;
		font-size: 36px;
		margin: 0px;
		margin-bottom: 35px;
		font-weight: 400;
		letter-spacing: 4px;
	}
	.third-block{
		display: inline-block;
		width: 33%;
	}
	.footer{
		width: auto;
		justify-content: left;
		height: auto;
		margin: 8px 10px;
	}
	.footer__buttons {
		padding: 0px;
		margin: 42px 8px;
		margin-bottom: 0px;
	}
	.footer__buttons li{
		width: 100%;
		display: block;
		font-size: 25px;
		margin: 10px 0px;
		font-size: 25px;
		height: 29px;
	}
	.footer__buttons a{
		color: #888;
		text-decoration: none;
	}
	.copyrighted {
		color: #888;
		margin: 0px 8px;
		margin-top: 32px;
	}
}