html{
	scroll-behavior: smooth;
}
body{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	padding-top: 10px;
}
.header {
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.header__content {
	width: 75%;
}
.header__logo {
	vertical-align: middle;
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-right: 10%;
}
.header__logo img{
	border-radius: 90%;
	width: 100%;
	height: 100%
}
.header__buttons {
	padding: 0px;
	display: inline-block;
	vertical-align: middle;
}
.header__buttons li {
	display: inline-block;
	font-size: 18px;
	margin: 0px 5px;
}
.header__buttons a {
	color: black;
	text-decoration-line: none;
}
.title {
	margin: 15px 0px;
	background-color: #85C7F2 ;
	height: 75vh;
	display: flex;
	justify-content:center;
	align-items:center;
	background: url('./Заглушки/header.jpg') center / cover no-repeat;
	color: white;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.title__content{
	width: 75%;
	height: auto;
}
.title__text {
	position: relative;
	margin: 0px;
}
.first{
	font-weight: inherit;
	font-size: 40px;
}
.second {
	font-size: 90px;
	text-transform: uppercase;
	max-width: 600px;
	font-weight: 500;
}
.third{
	font-weight: inherit;
	font-size: 35px;
	opacity: 0.7;
}
.content {
	margin: 7% 0px;
	text-align: center;
}
.contnet__title {
	position: relative;
	font-size: 30px;
	font-weight: inherit;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.underline{
	display: inline-block;
	text-shadow: none;
}
.underline::after{
	content: '';
	position: absolute;
	height: 2px;
	width: 30%;
	background-color: #0660bd;
	left: calc(50% - 15%);
	bottom: 0;
}
.content__blocks {
	margin-top: 40px;
}
.content__block {
	margin: 5px 10px;
	width: 400px;
	height: 400px;
	box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.3);
	display: inline-block;
}
.content__header {
	background: url('./Заглушки/content__block.jpg') center / cover no-repeat;
	display: flex;
	height: 50%;
	width: 100%;
	align-items:center;
	justify-content:center;
	background-color: #ECB0E1;
	color: white;
}
.content__bottom {
	padding: 0px 20px;
	width: calc(100% - 40px);
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery-block {
	background-color: #FFDDA1;
	padding: 40px 0px;
}
.text-block {
	
	max-width: 900px;
	margin: 200px auto;
	text-align: center;
	
}
.text-block__text-conainer{
	padding: 0px 40px;
	border-width: 0px 2px 0px 2px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.4);
}
.text-block__text-conainer p{
	line-height: 1.3;
}
.text-block h2{
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.backstages {
	padding: 40px 0px;
	background-color: #F5F8FB;
	height: 500px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.backstages__content {
	width: 690px;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: left;
}
.backstages__slider {
	width: 700px;
	height: 450px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.backstages__slider:hover .backstages__button{
	opacity: 1;
}
.backstages__button {
	height: 100%;
	width: 10%;
	z-index: 3;
	position: absolute;
	border: none;
	background-color: rgba(255, 255, 255, 0.6);
	opacity: 0;
	font-size: 20px;
}
.backstages__slider-line {
	height: 100%;
	width: 500%;
	display: flex;
	position: relative;
	transition: all ease 1s;
}
.backstages__image {
	background-color: #85C7F2;
	width: 100%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.backstages__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.backstages__info {
	margin-left: 60px ;
	width: 500px;
	height: 100%;
	display: inline-block;
	padding: 40px 0px;
	font-size: 16px;
	line-height: 1.3;
}
.backstages__title {
	margin: 0px;
	margin-top: 10px;
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.text {
	color: #888;
}
.gallery {
	height: 60%;
	width: 100%;
	position: relative;
}
.gallery__row {
	display: flex;
}
.gallery__image {
	width: 20%;
	padding: 0px 0px 19.8% 0px;
	overflow: hidden;
	position: relative;
}
.gallery__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.gallery__image:hover {
	filter: brightness(85%);
}
.about {
	margin: 200px 0px;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about__content {
	width: 65%;
	height: 100%;
	display: flex;
}
.about__text-block {
	width: 50%;
	display: inline-block;
}
.about__image {
	width: 50%;
	display: inline-block;
	text-align: right;
}
.about__image img{
	border-radius: 100%;
	width: 400px;
	height: 400px;
}
.about__title {
	font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
}
.contact-form {
	width: 100%;
	padding: 40px 0px;
	background-color: #F5F8FB;
	display: flex;
	justify-content: center;
}
.blank {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;

}
.blank form{
	width: 100%;

}
.blank__title {
	text-align: center;
	margin: 0px;
	font-size: 20px;
}
.input-fields {
	margin: 0px auto;
	width: 70%;
}
.input-field {
	margin: 5px 0px;
	width: 100%;
}
.input-field__input {
	font-size: 17px;
	box-sizing: border-box;
	text-align: left;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.1);
	padding: 15px 5px;
	display: inline;
	resize: none;
	width: 100%;
}
.send-btn {
	font-size: 17px;
	background: none;
	padding: 15px 40px;
	border-style: solid;
	border-width: 1px;
	border-radius: 50px;
	border-color: rgba(0, 0, 0, 0.1);
}
.send-btn:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.contacts {
	width: 900px;
	display: inline-block;
	text-align: center;
}
.contacts a {
	display: inline-block;
	text-decoration: none;
	color: black;
	margin: 0px 1%;
}
.contacts a:visited {
	color: black;

}
.contacts__map {
	margin-top: 10px;
	height: 407px;
	width: 700px;
}